// ============= Activity Indicator ==============
.activity-indicator-text {
  font-size: 17px;
}

.activity-indicator-image {
  width: 40px;
}

// ============ Form Loader =======
.attached-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #f8f8f8;
  // z-index: 1;
}

.loading-overlay-body {
  filter: blur(2px);
  background-color: #f8f8f8;
}

// ================== Card ==========
.card-image {
  height: 230px;
  padding: 5px
}