// ============= Activity Indicator ==============
.activity-indicator-text {
  font-size: 17px;
}

.activity-indicator-image {
  width: 40px;
}

// ============ Form Loader =======
.attached-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #f8f8f8;
  // z-index: 1;
}

.loading-overlay-body {
  filter: blur(2px);
  background-color: #f8f8f8;
}

// ================ Controls =========
.form-text-field {
  background-color: white;
  border-radius: 30px !important;
  padding-right: 25px;
  // font-size: 19px;
  // color: #505050;
  // font-weight: 600;
  height: 45px;
  font-size: 15px;

  &:not([readonly]) {
    border: solid 1px $input_border_color;
  }

  &:focus:not([readonly]) {
    box-shadow: 0px 0px 10px 2px rgba($color: $theme-color, $alpha: 0.2);
  }

  &:read-only {
    border-color: #ececec;
    background-color: #ececec;
  }
}

// ================== Card ==========
.card-image {
  height: 230px;
  padding: 5px
}

.card-header {
  border: none
}