$theme-color: #ba0d2f;

$outlined_border: #dc99a6;

$general_Text: #ba0c2f;
$green-color: #39b54a;

$meta_secondary_color: rgba($color: #444444, $alpha: 0.7);

$input_border_color: rgba($color: $theme-color, $alpha: 1);